<link href="css/sign-up.css" rel="stylesheet">
<div class="container">
	<div style="width: 330px; float: left;">
		<div style="margin: 5px;">
			<p><img id="image" src="images/avatars.jpg" style="width: 200px; height: 153px;" /></p>
		</div>
			
		<div ng-controller="profilePictureController" style="width: 200px; float: left;">
			<a ng-click="pictureView(1)">Upload a picture</a>
			<br><br><p>--------  or  --------<br><br>
			<a ng-click="pictureView(2)">Take a picture</a>			
		</div>
	</div>
</div>