<link href="css/sign-up.css" rel="stylesheet">
<div class="container" ng-controller="webcamUploadController">
	<div style="width: 330px; float: left;">
		<div id="webcam"></div>
			<div style="margin: 5px;">
				<select id="cameraNames" size="1" onChange="changeCamera()" style="width: 245px; font-size: 10px;display:none ;height: 25px;"></select>
			</div>
		</div>
	
		<div style="width: 200px; float: left;">
			<form method="post" id="webcamUpload">
				<p><textarea name="txtPic" ng-model="form.masterUser.image"  id="txtPic" style="width: 190px; height: 70px;"></textarea></p>
				<p><img id="image" style="width: 200px; height: 153px;" /></p>
				<button class="btn btn-primary btn-lg" id="btnSnapshot" ng-click="base64tofield()">Take Snapshot</button>
			</form>
		</div>
	</div>
</div>